@using Shedule.Models;

@model Group
<form asp-action="GetSheduleAsync" method="post">
	<input type="text" asp-for="SpecDesc" required />
	<input type="text" asp-for="TrainDir" required />
	<input type="text" asp-for="SubGroup" required />
	<input type="text" asp-for="Course" required />
	<button type="submit">
		ЕБОШ РАСПИСАНИЯ
	</button>
</form>